.nav {
    background-color: inherit;
    margin-top: 1.5rem;
}

.wrapper {
    max-width: 1024px;
    padding: 0 2rem;
}

.wrapper.nav__wrapper {
    padding: 1rem;
}

.hero>.wrapper {
    padding: 0 2rem;
}

.menu__btn {
    display: none;
}

.menu {
    display: flex;
}

.pc__width {
    display: flex;
}

.nav__btn,
.arrow--lg {
    display: block;
}

.arrow--lg {
    margin-left: .5rem;
    transform: rotate(90deg);
}

.save>h2 {
    margin-top: 8rem;
}

.features__section {
    padding-right: 4rem;
}

.features__section__image {
    margin-left: 2rem;
}

.pricing.wrapper>*:nth-child(2) {
    text-align: center;
}

.download>.wrapper {
    flex-direction: row;
}

.download__btns {
    margin-top: 0;
}

.wrapper.links__wrapper {
    justify-content: space-between;
}