.col-xs-1 {
  width: 8.333333%;
  max-width: 8.333333%;
}

.col-xs-2 {
  width: 16.666667%;
  max-width: 16.666667%;
}

.col-xs-3 {
  width: 24.999999%;
  max-width: 24.999999%;
  ;
}

.col-xs-4 {
  width: 33.333332%;
  max-width: 33.333332%;
}

.col-xs-5 {
  width: 41.666665%;
  max-width: 41.666665%;
}

.col-xs-6 {
  width: 50%;
  max-width: 50%;
}

.col-xs-7 {
  width: 58.333331%;
  max-width: 58.333331%;
}

.col-xs-8 {
  width: 66.666664%;
  max-width: 66.666664%;
}

.col-xs-9 {
  width: 74.999997%;
  max-width: 74.999997%;
}

.col-xs-10 {
  width: 83.333333%;
  max-width: 83.333333%;
}

.col-xs-11 {
  width: 91.666663%;
  max-width: 91.666663%;
}

.col-xs-12 {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    width: 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    width: 24.999999%;
    max-width: 24.999999%;
    ;
  }

  .col-md-4 {
    width: 33.333332%;
    max-width: 33.333332%;
  }

  .col-md-5 {
    width: 41.666665%;
    max-width: 41.666665%;
  }

  .col-md-6 {
    width: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    width: 58.333331%;
    max-width: 58.333331%;
  }

  .col-md-8 {
    width: 66.666664%;
    max-width: 66.666664%;
  }

  .col-md-9 {
    width: 74.999997%;
    max-width: 74.999997%;
  }

  .col-md-10 {
    width: 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    width: 91.666663%;
    max-width: 91.666663%;
  }

  .col-md-12 {
    width: 100%;
    max-width: 100%;
  }
}


@media (min-width: 1024px) {
  .col-lg-1 {
    width: 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    width: 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    width: 24.999999%;
    max-width: 24.999999%;
    ;
  }

  .col-lg-4 {
    width: 33.333332%;
    max-width: 33.333332%;
  }

  .col-lg-5 {
    width: 41.666665%;
    max-width: 41.666665%;
  }

  .col-lg-6 {
    width: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    width: 58.333331%;
    max-width: 58.333331%;
  }

  .col-lg-8 {
    width: 66.666664%;
    max-width: 66.666664%;
  }

  .col-lg-9 {
    width: 74.999997%;
    max-width: 74.999997%;
  }

  .col-lg-10 {
    width: 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    width: 91.666663%;
    max-width: 91.666663%;
  }

  .col-lg-12 {
    width: 100%;
    max-width: 100%;
  }
}