.container {
    width: 100%;
}

.header__img {
    background-image: url('./../images/banner/banner.png');
    background-repeat: no-repeat;
    background-position: center;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C2C2C;
}

.header__logo {
    margin: 1rem;
}

#menu-switcher {
    display: none;
}

.menu__btn i {
    font-size: 2rem;
    color: #fff;
}

.menu {
    display: none;
}

.menu__item {
    padding: 10px;
}

.menu__btn {
    cursor: pointer;
    margin-right: 1rem;
}

#menu-switcher:checked + .menu {
    display: block;
}

.header__btn {
    display: none;
}

.header__section1 > h1 {
    font-weight: normal;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1rem;
}

.header__section1 p {
    margin-left: 1rem;
}

.header__section1 {
    color: #fff;
}

.s__btn {
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: #37EBED;
    border: 1px solid #37EBED;
    border-radius: 5px;
    margin: 2rem 0 0 1rem;
}

.header__section2 {
    margin-top: 4rem;
}

.header__section2 > img {
    width: 100%;
}

h2 {
    font-weight: normal;
    text-align: center;
    margin: 2rem 0;
}

.features,
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature {
    justify-content: center;
    text-align: center;
}

.f {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
}

.feature-1 {
    background-image: linear-gradient(to right, #0382F5,#52ACFE);
}

.feature-2 {
    background-image: linear-gradient(to left, #FD8F5E,#FDAC5C);
}

.feature-3 {
    background-color: #37EF8D;
}

.feature p {
    margin: 1.5rem 0;
}