/* HEADER SECTION */

:root {
    --header-height: 3.125rem;
}

.container {
    width: 100%;
    }
    
    .header {
    background-image: url('./../images/banner/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav {
    background-color: var(--light-black);
    height: 50px;
}

.header__image a,
.menu__btn,
#menu-switcher:checked+.menu {
    display: flex;
}
.wrapper {
    width: 100%;
        max-width: 900px;
        padding: 0 .625rem;
        margin: 0 auto;
    }

.nav,
.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__btn {
    cursor: pointer;
}

#menu-switcher,
.menu,
.header__btn {
    display: none;
}

#menu-switcher:checked+.menu {
    position: absolute;
    top: var(--header-height);
    left: 0;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-black);
    width: 100%;
}

.menu__item {
    padding: .625rem;
}

.hero__text-section>h1 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.text-section__text {
    margin-bottom: 3rem;
}

.hero__image-section {
    margin-top: 6rem;
}

.hero__image-section>img {
    width: 100%;
}

/* END OF HEADER SECTION */
.save>h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.save__article,
.font {
    display: flex;
    align-items: center;
}

.save__article {
    flex-direction: column;
}
    
.save__article>p {
    text-align: center;
}

.save__article p {
    margin: 1.5rem 0;
}
.font {
    height: 80px;
    width: 80px;
    border-radius: 10px;
    justify-content: center;
}

.sitemap {
    background-image: var(--gradient-blue);
}

.leaf {
    background-image: var(--gradient-orange);
}

.message {
    background-color: var(--light-green);
}

.features__section {
    margin-bottom: 2rem;
}

.features__section>h2,
.features__section p {
    margin-bottom: 2rem;
}

.features__section>h2 {
    margin-top: 3.5rem;
    text-align: center;
}

.features__section p {
    text-align: justify;
        word-break: break-all;
}

.features__section__image {
    margin: 0 0.5rem;
}

.features__section__image img {
    width: 100%;
}

.review {
    background-image: url('./../images/banner/testmonial.png');
    background-position: top;
    margin-top: 3rem;
}

.review__cover {
    background-image: url('./../images/banner/product.png');
    background-position: top;
    opacity: .8;
}

.review__article>* {
    text-align: center;
}

.review__article>h2 {
    margin: 0;
    padding-top: 4rem;
    margin-bottom: 1rem;
}

.review__article p:nth-child(2) {
    margin-bottom: 2rem;
}

.review__article p:last-child {
    padding-bottom: 4rem;
}

.picing {
    margin-top: 3rem;
}

.pricing__item {}

.item__header {}

.item__text {}

.download {
    background-image: url('./../images/banner/product.png');
    background-position: top;
}